
body{

   background-color: bisque;
    
}


header{

   margin-right: 0 auto;
   margin-left: 0 auto;

    
}


img{

height: 400px;
width: 800px;

}
div.foto{
   text-align: center;

}




h1{
    border: 5px solid rgb(0, 0, 0);
 
    width: 0 auto;
    height: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
 
    padding: 5%;
    background-color: rgb(52, 179, 243);
    font-size:15px;
 
    text-align: center;
    font: 1em sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
 }


 h2{
    border: 5px solid rgb(0, 0, 0);
 
    height: 40;
    margin-top: 20;
    margin-right: 170; 
    margin-left: 170;
 
    padding: 2%;
    background-color: #a9adeb;
    font-size:10px;
 
    text-align: center;
    font: 1em sans-serif;
    font-size: 20px;
 }

 .div1{

 
    text-align: center;
    font-size: 15px;
    font: 1em sans-serif;
    font-weight: bold;

 
 }

section.hola1{

   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   gap: 20px;
   margin-right: 170; 
   margin-left: 170;
   margin-top: 50;

}

div.columna1{

   text-align: justify;
   font: 1em sans-serif;

}

div.columna2{

   text-align: justify;
   font: 1em sans-serif;
   
}




div.columna3{

   text-align: justify;
   font: 1em sans-serif;

}

section.formulario{

   font: 1em sans-serif;
   margin-left: 170;
   margin-right: 170;
   padding: 5%;
   background-color: rgb(106, 123, 210);
}


section.chati{

   text-align: center;
   font: 1em sans-serif;
   background-color: rgb(227, 141, 216);
   margin-top: 12;
   margin-bottom: 12 ;
   margin-left: 0;
   margin-right: 0 ;
}


button.botonchat{

   font: 1em sans-serif;
   padding-left: 3%;
   padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
   background-color: rgb(69, 182, 239);
   font-weight: bold;
}

section.cuerpo{
   
   font: 1em sans-serif;
   margin-right: 170;
   margin-left: 170;
   margin-top: 50;
   background-color: aliceblue;
}

div.tcuerpo{

   text-align: center;
   font-weight: bold;

}

div.SEPTIEMBREcuerpo{

   margin-left: 50;
   margin-right: 50;
   text-align: justify;
   background-color: rgba(49, 104, 151, 0.479);
}

div.OCTUBREcuerpo{

   margin-left: 50;
   margin-right: 50;
   text-align: justify;
   background-color: rgba(49, 104, 151, 0.479);
}

div.NOVIEMBREcuerpo{

   margin-left: 50;
   margin-right: 50;
   text-align: justify;
   background-color: rgba(49, 104, 151, 0.479);
}

div.DICIEMBREcuerpo{

   margin-left: 50;
   margin-right: 50;
   text-align: justify;
   background-color: rgba(49, 104, 151, 0.479);
}

section.mensajes{

   font: 1em sans-serif;
   margin-left: 170;
   
   }
   

textarea{

   
   resize:none;
   height: 100;
   width: 900;
}
footer{

   background-color: rgb(161, 239, 199);
   font: 1em sans-serif;
   text-align: center;
   margin-left: 2%;
   margin-right: 2%;

}

ol.ol1{
   background-color: rgb(122, 237, 178);
   text-align: left;
   font-size: 15px;
   font: 1em sans-serif;
   font-weight: bold;

}